  html, body {
  	min-height: 100%;
	margin: 0;
  	padding: 0;
  }

  body {
  	width: auto;
  	font-family: 'Segoe UI', sans-serif;
  	background-color: #fdfdfd;
  }


  header.top-bar{
  	width: 100%;
  	height: auto;
  	min-height: 40px;
  	margin: 0;
  	padding: 2px 0px;
  	position: relative;
  	z-index: 999;
  	border: 0px solid;
    border-radius: 0px;
  	text-align: left;
  	background-color: #b3e5fc;
  	box-shadow: 0px 1px 10px -2px #444444;
  }


  section {
  	width: 63%; /*59%*/
  	height: 100%;
  	position: fixed;
  	left: 0px;
  	background-color: #e0e0e0;
  	font-size: 24pt;
  	box-shadow: 10px 0 10px -2px #444444;
  }
  section header { /*RESULT PANE */
  	width: 84%;
  	height: 15%;
  	min-height: 80px;
  	margin-top: 20px;
  	margin-right: auto; 
  	margin-left: auto;
  	border: 0px solid;
    border-radius: 3px;
  	text-align: right;
  	background-color: #ffffff;
  	box-shadow: 0px 4px 2px -1px #888888;
  }
  section article { /* HISTORY PANE */
  	width: 80%;	
  	height: 60%;
  	min-height: 150px;
  	margin-top: 20px;
  	margin-right: auto; 
  	margin-left: auto;
  	border: 0px solid;
    border-radius: 3px;
  	text-align: right;
  	background-color: #ffffff;
  	color: hsl(0, 0%, 24%);
  	box-shadow: 0px 4px 2px -1px #888888 inset;
  }
  

  aside#table-container {
  	width: 37%;
  	height: 100%;
  	/*padding: 10px;*/
  	margin: auto;
    position: fixed;
    right: 0px;
    background-color: #607d8b;
  }
  aside#table-container table {
  	height: auto;
  }



  aside#table-container table.numpad {
  	padding: 0px 0px 16px 0px;
  	float: left;
  	background-color: #607d8b;
  }
  aside#table-container table.numpad button {
  	width: 120px;
  	height: 100px;
	padding: 30px 40px;
    margin: 0px;
	border: 0px;
   	font-family: 'Roboto', sans-serif;
   	font-size: 22pt;
   	background-color: inherit;
   	color: white; 
  }
  aside#table-container table.numpad button:hover {
  	background-color: #b0bec5;
  }


  aside#table-container table.basic-operations {
  	padding: 0px 0px 16px 0px;
  	float:;
  	background-color: #90a4ae;
  }
  aside#table-container table.basic-operations button {
  	width: 120px;
  	height: 80px;
  	border: 0px;
  	font-family: 'Roboto', sans-serif;
  	font-size: 16pt;
    background-color: inherit;
  }
  aside#table-container table.basic-operations button:hover {
  	background-color: #eceff1;
  }


  aside#table-container table.extra-operations {
  	padding: 0px 0px 0px 0px;
  	float: left;
  	background-color: #cfd8dc;
  }
  aside#table-container table.extra-operations button {
  	width: 120px;
  	height: 80px;
	padding: 20px 40px;
	border: 0px;
   	font-family: 'Roboto', sans-serif;
  	font-size: 14pt;
   	background-color: inherit;
  }
  aside#table-container table.extra-operations button:hover {
  	background-color: #eceff1;
  }
  aside#table-container table.extra-operations button.centered {
  	width: 368px;
  }
#power{
  margin-left: 20px;
  height: 40px;
  display: none;
  z-index: 999;
  margin-bottom: 20px;
}

#Sin{
  margin-left: 20px;
  height: 40px;
  display: none;
  z-index: 999;
  margin-bottom: 20px;
}

#Cos{
  margin-left: 20px;
  height: 40px;
  display: none;
  z-index: 999;
  margin-bottom: 20px;
}
#Tan{
  margin-left: 20px;
  height: 40px;
  display: none;
  z-index: 999;
  margin-bottom: 20px;
}